extends layout

block content
  h2= title

  div
    i &nbsp;
    button#get-matches.btn.btn-sm.btn-primary(style='width: 130px; margin-bottom: 5px') Get matches

  div#loading-img(style='display:none')
    img(src='http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-13-3.gif', style='width: 60px; margin-top: 10px')

  div#responce-text(style='float:left; width: 60%; display: none')

  ul#matches-list(style='list-style-type:none; margin-top: 15px')

