extends ../layout

block content
  h2= title

  //div
  //  i &nbsp;
  //  button#get-matches.btn.btn-sm.btn-primary(style='width: 130px; margin-bottom: 5px; display: none') Get matches
  p Working:&nbsp;
    span#seconds-work
  div#loading-img(style='display:none')
    img(src='http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-13-3.gif', style='width: 40px; margin-top: 10px')
    span.margin-l-10 Remaining:&nbsp;
      span#remaining-items

  div#responce-text(style='float:left; width: 80%; display: none')

  ul#matches-list(style='list-style-type:decimal; margin-top: 15px')

  script.
    window.onload = function () {
        refreshMatches();

        setInterval(function () {
            $('#matches-list').html('');
            refreshMatches();
        }, 7200000);
    }
